html {
	height: 100%;
	width: 100%;
	font-size: 16px;
}

body {
	font-family: 'Montserrat', Helvetica, Arial, sans-serif;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-flow: row wrap;
	width: 100%;
	font-size: 1em;
}

.container {
	max-width: 1200px;
	margin: 0 auto;
	display: flex;
	flex-flow: row wrap;
	justify-content: center;
	align-items: center;
	padding: .5em;
	text-align: center;
}

h1,
h2,
h3,
h4 {
	color: black;
	text-transform: uppercase;
	font-weight: 700;
}
h1 {
	font-size: 1.87em;
}
h2 {
    font-size: 1.5em;
}
h3 {
	font-size: 1.1em;
}
h4 {
	font-size: .75em;
}

p {
	font-size: .87em;
	line-height: 1.3em;
    padding: 0 1.87em;
}

/*The widths are in a percentage!*/
header {
/*height: 110px;*/
	display: flex;
	flex-flow: row wrap;
	justify-content: center;
	align-items: center;
	margin: 0 auto;

}

header h1 {
/*float: left;*/
	margin: 0;
	padding: 1em 0;
	width: 90%;
	border-bottom: .16em solid #77a466;
}
header h1 span {
	color: #77a466;
}

header nav {
/*float: right;*/
    display: flex;
	justify-content: center;
	align-items: center;
	flex-flow: row wrap;
	padding: .5em 0;
}

header nav ul {
	margin: 0;
	padding: 0 0 1.5em 0;
}

header nav ul li {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-flow: row wrap;
	text-transform: uppercase;
	font-weight: 700;
	font-size: .87em;
	padding: .62em 0;
	width: 90%;
}

header nav ul li a{
	text-decoration: none;
	color:#77a466;
}

/*The widths are in a percentage!*/
.top-section,
.bottom-section {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-flow: row wrap;
	width: 90%;
	margin: 0 auto;
/*clear: both;*/
}

.main-image {
    display: flex;
	justify-content: center;
/*height: auto;*/
/*float: left;*/
}
.main-image img {
	width: 100%;
	border-bottom: .18em solid #77a466;
	border-top: .18em solid #77a466;
}

.main-title {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-flow: row wrap;
	padding: 1em;
/*height: auto;*/
/*float: left;*/
}
.main-title h3 {
	padding: .31em 0;
	color: #77a466;
}
.main-title p {
	padding: 0;
	font-size: 1em;
	line-height: 1.56em;
}

.section-one,
.section-two,
.section-three {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-flow: row wrap;
	width: 90%;
/*width: 33%;*/
/*height: auto;*/
/*float: left;*/
	border-top: 0.06em solid #eee;
	padding: .5em;
}

.section-one h4, .section-two h4,
.section-three h4 {
	padding: .25em;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-flow: row wrap;
	width: 90%;
}

.menu {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-flow: row wrap;
/*list-style: none;*/
	padding: 0;
}
.menu li {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-flow: row wrap;
	padding: .62em 0;
	color:#77a466;
	width: 90%;
}

.reviews {
	color: #333;
	font-size: 1em;
	line-height: 1.31em;
}

.address {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-flow: row wrap;
	width: 90%;
	font-size: 1em;
	line-height: 1.5em;
}

/*The widths are in a percentage!*/
footer {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-flow: row wrap;
/*height: 50px;*/
	border-top: 0.18em solid #eee;
	width: 90%;
	margin: 0 auto;
/*clear: both;*/
/*text-align: center;*/
}
footer span {
	font-family: 'Galada', cursive;
	text-transform: lowercase;
	color: #77a466;
	font-size: 1.25em;
}

/* ==========================================================================
   EXAMPLE Media Queries for Responsive Design.
   These examples override the primary ('mobile first') styles.
   Modify as content requires.
   ========================================================================== */

   @media all and (min-width: 1200px)  {

	header{
		justify-content: space-between;
		width: 90%;
	}
		
	header h1 {
		justify-content: flex-start;
		flex-basis: 30%;
		border-bottom: none;
	}

	header nav ul li {
		display: inline;
		padding: 1.25em;
		font-size: 1em;

	.bottom-section {
		border-top: 0.06em solid #eee;
	}
    .section-one,.section-two,.section-three{
	  flex-basis: 30%;
	  height: auto;
	  border-top: none;
	}
	
	.section-two {
		border-left: .06em solid #eee;
		border-right: .06em solid #eee;
	}